<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.labpracticals">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabPracticals"
        tools:targetApi="31">
        <activity
            android:name=".WebViewDemoActivity"
            android:exported="false" />
        <activity
            android:name=".LocalNotificationDemoActivity"
            android:exported="false" />
        <activity
            android:name=".FireBaseDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SharedPreferencesDemoActivity"
            android:exported="false" />
        <activity
            android:name=".SendSmsDemoActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".SendEmailDemoActivity"
            android:exported="false" />
        <activity
            android:name=".ScrollViewDemoActivity"
            android:exported="false"
            android:label="@string/scroll_view" />
        <activity
            android:name=".RecyclerViewDemoActivity"
            android:exported="false"
            android:label="@string/recycler_view" />
        <activity
            android:name=".TodoListDemoActivity"
            android:exported="false"
            android:label="@string/todo_list" />
        <activity
            android:name=".ListViewDemoActivity"
            android:exported="false"
            android:label="@string/list_view" />
        <activity
            android:name=".GridViewDemoActivity"
            android:exported="false"
            android:label="@string/grid_view" />
        <activity
            android:name=".DialogMessageDemoActivity"
            android:exported="false"
            android:label="@string/dialog_message" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>